/* ---------- General Styles ---------- */

body {
    /*background:url('img/amber-waves.jpg') 50% 0 no-repeat fixed;
    background-attachment: fixed;*/
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
    width: 100%;
}

body, html {
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    z-index: 1;
}

h1 {
    font-family:"Arvo";
    font-weight:normal;
    font-size: 35px;
    text-align: center;
    color: #fff;
}

/*.center { margin: 0 auto; }*/

.hero-content {
    background-color: #00d84d;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: left;
    margin: 25px 100px;
}

.headers-collide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 8px;
    margin: 18px;
    border: 1px solid #fff;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 960px;
}

/*.clear { clear: both; }*/

#header {
    width: 100%;
/*background: url('img/green-forest.jpg');*/
    background-color: #3c4856;
    height: 80px;
    position: fixed;
    margin-top: 30px;
}

#nav {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin-top: 20px;
}

#logo a {
    color: #fff;
    display: flex;
    text-decoration: none;
    font-size: 30px;
    margin-top: 20px;
    color: #fff;
    font-family:"Wellfleet";
    font-weight: bold;
}

#nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 auto;
    list-style: none;
}

#nav li {
    margin-top: 9px;
    padding-left: 15px;
}

#nav li a {
    border: 1px solid #00f3ca;
    color: #fff; /*opacity:0.6;*/
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Wellfleet';
}

#nav li a.active {
    border: none;
    color: #ff5051;
    opacity:1;
    border-bottom: 2px solid #ff5051;
}

#nav li a:hover {
    color: #fff;
    opacity:1;
}

.quotes {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin: 50px auto;
}

.author_name_white { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; }
.author_name_gray { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }

.quotes_container {
    width: 800px;
    margin: 0 auto;
    transform: skew(0deg,10deg);
}

.quotes_container_four {
    width: 800px;
    margin: 0 auto;
    transform: skew(0deg,-10deg);
}

#green-forest { background: url('img/green-forest.jpg')no-repeat; width: 48px; height: 77px; margin: 0 auto; position: relative; bottom: -35px;}
#divider { background: url('../img/divider.png')no-repeat; width: 300px; height: 35px; margin: 0px auto 27px auto; }
#ribbon { background: url('../img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto; display: block; position: relative; top: -38px; }
#snowflakes1 { background: url('../img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto; display: block; position: relative; bottom: -54px; left: -102px; }
#snowflakes2 { background: url('../img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto; display: block; position: relative; bottom: -33px; right: -100px; }

#slide1, #slide2 {
    width: 100%;
}

#slide1 {
    background:url('img/green-forest.jpg') 50% 0 no-repeat fixed;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    height: 200px;   /* 600 */
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
}

#slide2 {
    transform: skew(0deg,-10deg) translateY(-120px);
    background-color: #00f3ca;
    /*background-color: #5d6063;*/
    color: #333333;
    height: 300px;    /* 300 */
    margin: 0 auto;
    overflow: hidden;
    padding: 200px 0;
    z-index: 0;
}

#slide3 {
    background: url('img/earth.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 600px;  /* 600 */
    padding: 170px 0 0 0;
    background-size: cover;
}

#slide4 {
    transform: skew(0deg,10deg) translateY(-120px);
    background-color: #00f3ca;
    color: #333333;
    height: 300px;  /* 300 */
    padding: 200px 0;
}

#slide5 {
    background: url('img/amber-waves.jpg') 50% 0 no-repeat fixed;
    height: 80px;
    margin: 0 auto;
    padding: 250px 0;
    color: #fff;
    background-size: cover;
}

#copyright {
    color: #fff;
    font-family:"Wellfleet";
    font-size: 14px;
    margin-top: 100px;
    opacity: 2;
    text-align: center;
}

#copyright a {
    text-decoration: none;
    color: #fff;
    opacity: 5;
}
