/* ---------- General Styles ---------- */


body {
    /*background:url('img/amber-waves.jpg') 50% 0 no-repeat fixed;
    background-attachment: fixed;*/
    /*background-color: #d3d3d3;*/
    margin: 0;
    padding: 0;
    width: 100%;
}

.content {
    display: flex;
      justify-content: space-between;
    margin: 0 auto;
    width: 960px;
}


/* ---------- Header + Footer ---------- */


#header {
    /*background: url('img/green-forest.jpg');*/
    background-color: #3c4856;
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: 30px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

#nav {
    display: flex;
      justify-content: flex-end;
    margin-top: 20px;
    width: 65%;
}

#logo a {
    /*color: #00f3ca;*/
    color: rgba(0,150,105,0.8);
    display: flex;
    font-family:"Wellfleet";
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    text-decoration: none;
}

#nav ul{
    display: flex;
      justify-content: center;
      flex-flow: row wrap;
    list-style: none;
    margin: 0 auto;
}

#nav li {
    margin-top: 9px;
    padding-left: 15px;
}

#nav li a {
    border: 1px solid #00f3ca;
    border-radius: 10px;
    color: #fff; /*opacity:0.6;*/
    font-family: 'Wellfleet';
    font-size: 14px;
    padding: 15px;
    text-decoration: none;
}

#nav li a.active {
    border: 1px solid yellow;
    /*border-bottom: 2px solid #ff5051;*/
    /*color: #ff5051;*/
    color: yellow;
    font-size: 14px;
    opacity:1;
    /*text-transform: uppercase;*/
}

#nav li a:hover {
    color: #fff;
    opacity:1;
}

/* copy */

#copyright {
    color: #fff;
    font-family:"Wellfleet";
    font-size: 14px;
    margin-top: 100px;
    opacity: 2;
    text-align: center;
}

#copyright a {
    text-decoration: none;
    color: #fff;
    opacity: 5;
}


/* ---------- Main ---------- */


main {
    background:url('img/amber-waves.jpg') 50% 0 no-repeat fixed;
    background-attachment: fixed;
    background-position: center;
    /*background-color: #d3d3d3;*/
    margin: 0;
    padding: 0;
    width: 100%;
}

aside {
    border: 50px solid #00f3ca;
    opacity: 0.9;
}

#slide1, #slide2 {
    width: 100%;
}

#slide1 {
    background:url('img/green-forest.jpg') 50% 0 no-repeat fixed;
    background-color: #d3d3d3;
    background-size: cover;
      display: flex;
      justify-content: center;
    color: #fff;
    height: 150px;   /* 600 */
    margin: 0;
    overflow: hidden;
    padding: 200px 0 260px 0;
    z-index: 1;

}

#slide2 {
    background-color: rgba(0,243,202,0.9);
    /*background-color: #5d6063;*/
    color: #333333;
    display: inline-block;
    /*float: left;*/
    height: 300px;    /* 300 */
    margin: 0 auto;
    /*overflow: hidden;*/
    padding: 200px 0;
    /*transform: skew(0deg,-5deg) translateY(-120px);*/
    width: 50%;
    /*z-index: 0;*/
}

#slide3 {
    /*background: url('img/green-forest.jpg') 50% 0 no-repeat fixed;*/
    /*background-size: cover;*/
    background-color: rgba(0,243,202,0.9);
    color: #fff;
    display: inline-block;
    height: 300px;  /* 600 */
    margin-left: 555px;
    padding: 200px 0;
    width: 50%;
}

#slide3::after {
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    content: "";
    height: 100%;
    left: 0;
    opacity: .7;
    position: absolute;
    top: 0;
    width: 100%;
}

#slide4 {
    background-color: rgba(0,243,202,0.9);
    /*background-color: #5d6063;*/
    border-right: 5px solid #00f3ca;
    border-bottom: 5px solid #00f3ca;
    color: #333333;
    display: inline-block;
    /*float: left;*/
    height: 300px;    /* 300 */
    margin: 0 auto;
    /*overflow: hidden;*/
    padding: 200px 0;
    /*transform: skew(0deg,-5deg) translateY(-120px);*/
    width: 50%;
    /*z-index: 0;*/
}

#slide5 {
    background: url('img/earth.jpg') 50% 0 no-repeat fixed;
    background-size: cover;
    color: #fff;
    /*height: 80px;*/
    margin: 0 auto;
    margin-top: /*skew(0deg,10deg)*/ translateY(-120px);
    padding: 250px 0;
}

/*
.hero-content {
    background-color: #00d84d;
    border: 5px solid #00f3ca;
    border-radius: 3px;
    display: flex;
      justify-content: center;
      flex-flow: row wrap;
    margin: 25px 100px;
    text-align: left;
}
*/

.headers-collide {
    border: 12px solid #fff;
    border-radius: 20px;
    color: #fff;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    margin: 0 auto;
    opacity: 2;
    padding: 40px;
    text-align: center;
    /*z-index: 100;*/
}

h1 {
    border: 3px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-family:"Arvo";
    font-weight:normal;
    font-size: 35px;
    padding: 40px;
    text-align: center;
    z-index: 1;
}


/*
.quotes {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin: 50px auto;
}

.author_name_white { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; }
.author_name_gray { font-family:"Wellfleet"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }
*/

.quotes_container {
    width: 800px;
    margin: 0 auto;
    /*transform: skew(0deg,5deg);*/
}

.quotes_container_four {
    width: 800px;
    margin: 0 auto;
    /*transform: skew(0deg,-5deg);*/
}

/*
#green-forest { background: url('img/green-forest.jpg')no-repeat; width: 48px; height: 77px; margin: 0 auto; position: relative; bottom: -35px;}
#divider { background: url('../img/divider.png')no-repeat; width: 300px; height: 35px; margin: 0px auto 27px auto; }
#ribbon { background: url('../img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto; display: block; position: relative; top: -38px; }
#snowflakes1 { background: url('../img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto; display: block; position: relative; bottom: -54px; left: -102px; }
#snowflakes2 { background: url('../img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto; display: block; position: relative; bottom: -33px; right: -100px; }
*/
